@import "carbon-components/scss/globals/scss/vars.scss";
@import "carbon-components/scss/globals/scss/typography.scss";

.prod-head-05 {
  @include carbon--type-style("productive-heading-05");
}
.container {
  background: $ui-background;
  margin-left: 0;
  @media (min-width: 672px) {
    padding-left: $layout-04;
  }
  padding-top: $layout-04;
  transition: 0.11s ease;
  position: relative;
  height: 90vh;
}

.pageHeader {
  @media (min-height: 1366px) {
    height: 25%;
  }
  height: 15%;
  background-color: $ui-05;
  color: $inverse-01;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid #393939;
  @media (min-width: 672px) {
    padding-left: $layout-04;
  }
  @media (min-width: 1312 px) {
    padding-bottom: 0;
  }
  padding-left: $layout-01;
  padding-bottom: $layout-01;
}

.main {
  @media (min-height: 1366px) {
    height: 75%;
  }
  height: 85%;
}

.footer {
  height: 10%;
  margin-left: 0;
  margin-right: 0;
}
