@import "@carbon/themes/scss/themes";

$my-theme: map-merge(
  $carbon--theme--white,
  (
    interactive-01:#0f62fe,
    interactive-02: #6f6f6f,
    interactive-03: #ffffff,
    interactive-04: #4589ff,
    ui-background: #262626,
    ui-01: #393939,
    ui-02: #525252,
    ui-03: #525252,
    ui-05: #f4f4f4,
    text-01: #f4f4f4,
    text-02: #c6c6c6,
    text-03: #6f6f6f,
    text-05: #8d8d8d,
    text-error: #ffb3b8,
    icon-01: #f4f4f4,
    icon-02: #c6c6c6,
    link-01: #78a9ff,
    link-02: #a6c8ff,
    inverse-link: #0f62fe,
    field-01: #393939,
    field-02: #525252,
    inverse-01: #161616,
    inverse-02: #f4f4f4,
    support-01: #ff8389,
    support-02: #42be65,
    support-04: #4589ff,
    inverse-support-01: #da1e28,
    inverse-support-02: #24a148,
    inverse-support-04: #0f62fe,
    overlay-01: rgba(0, 0, 0, 0.65),
    danger-02: #ff8389,
    focus: #ffffff,
    inverse-focus-ui: #0f62fe,
    hover-primary-text: #a6c8ff,
    hover-secondary: #606060,
    active-secondary: #393939,
    hover-tertiary: #f4f4f4,
    active-tertiary: #c6c6c6,
    hover-ui: #4c4c4c,
    hover-light-ui: #656565,
    active-ui: #6f6f6f,
    active-light-ui: #8d8d8d,
    selected-ui: #525252,
    selected-light-ui: #6f6f6f,
    inverse-hover-ui: #e5e5e5,
    hover-selected-ui: #656565,
    hover-row: #4c4c4c,
    visited-link: #be95ff,
    disabled-01: #393939,
    disabled-02: #6f6f6f,
    disabled-03: #a8a8a8,
    highlight: #0043ce,
    decorative-01: #6f6f6f,
    button-separator: #161616,
    skeleton-01: #353535,
    skeleton-02: #525252,
    background: #262626,
    layer: #393939,
    layer-accent: #525252,
    layer-accent-active: #8d8d8d,
    layer-accent-hover: #636363,
    field: #393939,
    background-inverse: #f4f4f4,
    interactive: #4589ff,
    border-subtle: #525252,
    border-inverse: #f4f4f4,
    border-interactive: #4589ff,
    text-primary: #f4f4f4,
    text-secondary: #c6c6c6,
    text-placeholder: #6f6f6f,
    text-helper: #8d8d8d,
    text-inverse: #161616,
    link-primary: #78a9ff,
    link-secondary: #a6c8ff,
    link-visited: #be95ff,
    link-inverse: #0f62fe,
    icon-primary: #f4f4f4,
    icon-secondary: #c6c6c6,
    icon-inverse: #161616,
    support-error: #ff8389,
    support-success: #42be65,
    support-info: #4589ff,
    support-error-inverse: #da1e28,
    support-success-inverse: #24a148,
    support-info-inverse: #0f62fe,
    overlay: rgba(0, 0, 0, 0.65),
    shadow: rgba(0, 0, 0, 0.8),
    button-secondary: #6f6f6f,
    button-tertiary: #ffffff,
    button-danger-secondary: #ff8389,
    background-active: #6f6f6f,
    layer-active: #6f6f6f,
    button-secondary-active: #393939,
    button-tertiary-active: #c6c6c6,
    focus-inset: #161616,
    focus-inverse: #0f62fe,
    background-hover: #4c4c4c,
    layer-hover: #4c4c4c,
    field-hover: #4c4c4c,
    background-inverse-hover: #e5e5e5,
    link-primary-hover: #a6c8ff,
    button-secondary-hover: #606060,
    button-tertiary-hover: #f4f4f4,
    background-selected: #525252,
    background-selected-hover: #656565,
    layer-selected: #525252,
    layer-selected-hover: #656565,
    layer-selected-inverse: #f4f4f4,
    border-subtle-selected: #6f6f6f,
    border-disabled: #393939,
    text-disabled: #6f6f6f,
    button-disabled: #6f6f6f,
    icon-disabled: #6f6f6f,
    text-on-color-disabled: #a8a8a8,
    icon-on-color-disabled: #a8a8a8,
    layer-selected-disabled: #a8a8a8,
    skeleton-background: #353535,
    skeleton-element: #525252,
    brand-02: #6f6f6f,
    brand-03: #ffffff,
    active-01: #6f6f6f,
    hover-field: #4c4c4c,
  )
) !default;
